<h1> Welcome to Battle! </h1>
<form action="/names" method="post">
  <input type="text" name="playeronename">
  <input type="text" name="playertwoname">
  <input type="submit" value="Submit">
</form>
